fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-openai
langchain-community
langgraph
werkzeug
sqlalchemy
psycopg2-binary
python-multipart
jinja2
itsdangerous
sse-starlette
aiofiles
redis
redis[hiredis]
aioboto3
botocore
passlib
bcrypt==4.0.1
qdrant-client
google-genai

Authlib
httpx